{% extends 'log/base.html' %}

{% block content %}
<title> Error logger - Home</title>

{% if item %}
{%for i in item %}

<div id="you-want-lazyload" data-lazyload="&lt;p&gt;Anything you want to lazyload&lt;/p&gt;" class='m-4'>
    <div class="container main" style="width: 50vw;">
        <a class='link' href="{% url 'log-detail' i.slug   %}"><h2 >{{ i.title }}</h2></a>
        <p>{{ i.content }}</p>
        <p class='small'>{{ i.created }}</p>
    </div>

</div>

{% endfor %}


{% else %}

<h3 class='container mt-4'>No questions to show</h3>
{% endif %}





{% endblock content  %}